<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Photogur</title>
  <%= stylesheet_link_tag 'application' %>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

</head>
  <body>

    <nav>
      <div>
        <ul class="menu-links left">
          <li><%= link_to "Home", root_url, class: "menu-left" %></li>
          <% if current_user %>
          <li><%= link_to "Log Out", sessions_path, method: :delete, class: "menu-left" %></li>
        </ul>
          <% else %>
        <ul class="menu-links right">
            <li><%= link_to "Log In", new_sessions_path, class: "menu-right" %></li>
            <li><%= link_to "Sign Up", new_users_path, class: "menu-right" %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= flash[:alert] %>

    <main>
      <div class="main-body">
        <%= yield %>
      </div>
    </main>

    <footer>
      <h5>© sbcreates 2017</h5>
    </footer>

  </body>
</html>
