<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Photogur</title>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

</head>
  <body>

    <nav>
      <div class="menu-bar">
        <ul class="menu-links left">
          <li><%= link_to "Home", root_url, class: "menu-left" %></li>
        </ul>
          <% else %>
        <ul class="menu-links right">
          <% if current_user %>
            <li><%= link_to "Logout", :logout, method: :delete, class: "menu-right" %></li>
          <% else %>
            <li><%= link_to "Login", :login, class: "menu-right" %></li>
            <li class ="menu-link-divide"> / </li>
            <li><%= link_to "Sign Up", new_users_path, class: "menu-right" %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= flash[:alert] %>

    <main>
      <div class="main-body">
        <%= yield %>
      </div>
    </main>

    <footer>
      <h5>© sbcreates 2017</h5>
    </footer>

  </body>
</html>
